h2{
	text-align: center;
}
#formLogin{
	background-color: #F0F8FF;
	width:350px;
	padding:20px;
	margin: auto;
	margin-top: 100px;
	font-size: 18px;
	border-radius: 5px;
	font-family: Tahoma, Helvetica, Arial;
}
input{
	width: 100%;
	padding: 12px 10px;
	box-sizing: border-box;
	font-size: 18px;
}
input[type=submit]{
	border-radius: 15px;
}
li{
	float: left;
}

