#statusLogin{
	float:right;
	font-size: 18px;
	margin: auto;
	box-sizing: border-box;
	padding: 12px 10px;
}
ul{
	list-style-type: none;
	overflow: hidden;
}
select{
	width: 89%;
	padding: 12px 10px;
	box-sizing: border;
	font-size: 18px;
	text-align: center;
}
button{
	width: 10%;
	padding: 12px 10px;
	box-sizing: border;
	font-size: 18px;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
.show-menu {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-decoration: none;
 color: #fff;
 background: #11A092;
 text-align: center;
 padding: 10px 0;
 display: none;
}
#logo
{
	width: 40%;
	float: left;
}